<!DOCTYPE html>
{%load static%}
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Social Login Form </title>
    <link rel="stylesheet" href="{%static 'css/loginstyle.css'%}">
  </head>
  <body>

    
    <div class="center">
      <h1>Login</h1>
      <form method="post">
        {%csrf_token%}
        <div class="txt_field">
          <input type="text" name="username" id="id_username" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" id="id_password" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="{%url 'signup'%}">Signup</a>
        </div>
      </form>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
               {%for m in messages%}
                   {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
                   <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{m}}</strong> You should check in on some of those fields below.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                   {%endif%}
                   {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
                   <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{m}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                   {%endif%}
               {%endfor%}
        </div>
        <div class="col-4"></div>
      </div>
    </div>

  </body>
</html>